<div class="container shadow-lg p-2 mt-2 g-2">
    <div class="p-2 m-2">
        <span class="p-1" style="color: blueviolet;">need a attension</span>
        <h4 class="fw-medium">Where are you in your job search journey</h4>
    </div>
    <div class="m-2 d-flex flex-wrap gap-2">
        <button mat-stroked-button color="" class="rounded-5">Actively Searching Job</button>
        <button mat-stroked-button color="primary" class="rounded-5">Preparing for Interview</button>
        <button mat-stroked-button color="primary" class="rounded-5">Appearing for Interview</button>
        <button mat-stroked-button color="primary" class="rounded-5">Received a Job Offer</button>
        <button mat-stroked-button color="primary" class="rounded-5">Casually exploring Job</button>
        <button mat-stroked-button color="primary" class="rounded-5">Not looking for a Job</button>
    </div>
   
</div>