<div class="row">
  <div class="col-md">
    <footer class="admin-footer py-3 bg-secondary-subtle text-dark text-center">
      <div class="container">
        <p class="mb-1">&copy; {{ currentYear }} OpenSource Professionals. All Rights Reserved.</p>
        <p class="mb-0">
          Powered by
          <a href="http://phpprofessionaltraining.com/" target="_blank" class="text-danger fw-bold text-decoration-underline">phpprofessionaltraining.com</a>
        </p>
      </div>
  </footer>

  </div>
</div>
