.admin-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    background: #222;
    color: #ccc;
    
    a {
      text-decoration: none;
      color: #f8d210;
      
      &:hover {
        color: #f39c12;
      }
    }
  }
  